Repository DimoDimchev/Trivial, pull requests merged in 2021-12, with the labels that each got.

#274 Improved design to add new source button and modal
  client/src/components/Other/AddCryptoSource.js
  client/src/components/Other/AddNewSourceModal.js
  client/src/components/Other/AddYodleeComponent.js
  client/src/components/Other/CountriesDropDownList.js
  client/src/styles/add-source-modal.scss
  client/src/styles/banks-container-grid.scss
  client/src/styles/dashboard.scss
Labels: client

#275 Style the table in Cashflow
  client/package.json
  client/src/App.js
  client/src/components/Other/GroupsContainerComponent.js
  client/src/components/Other/HeaderComponent.js
  client/src/components/Pages/AdvicePage.js
  client/src/components/Pages/CashflowPage.js
  client/src/components/Pages/DashboardPage.js
  client/src/recoil/baseAtom.js
  client/src/recoil/index.js
  client/src/recoil/recentTransactionsAtom.js
  client/src/styles/cashflow.scss
  server/assets_v2/assets/utils/coinbase_api.py
  server/assets_v2/assets/utils/nordigen.py
  server/assets_v2/assets/utils/yodlee_api.py
  server/portfolio/portfolio/utils/reference.py
Labels: enhancement, client

#277 Added custom assets to add new source modal
  client/src/components/Other/AddNewSourceModal.js
  client/src/components/Other/AssetsDropDownList.js
Labels: client

#285 Refactor naming of cashing balance service
  docker-compose.yml
  server/balances_history_cacher/.dockerignore
  server/balances_history_cacher/Dockerfile
  server/balances_history_cacher/balance_caching_app/__init__.py
  server/balances_history_cacher/balance_caching_app/admin.py
  server/balances_history_cacher/balance_caching_app/apps.py
  server/balances_history_cacher/balance_caching_app/migrations/0001_initial.py
  server/balances_history_cacher/balance_caching_app/migrations/__init__.py
  server/balances_history_cacher/balance_caching_app/models.py
  server/balances_history_cacher/balance_caching_app/scheduler.py
  server/balances_history_cacher/balance_caching_app/serializers.py
  server/balances_history_cacher/balance_caching_app/serializers_validators.py
  server/balances_history_cacher/balance_caching_app/tests.py
  server/balances_history_cacher/balance_caching_app/urls.py
  server/balances_history_cacher/balance_caching_app/utils.py
  server/balances_history_cacher/balance_caching_app/views.py
  server/balances_history_cacher/balances_history_cacher/__init__.py
  server/balances_history_cacher/balances_history_cacher/asgi.py
  server/balances_history_cacher/balances_history_cacher/settings.py
  server/balances_history_cacher/balances_history_cacher/urls.py
  server/balances_history_cacher/balances_history_cacher/wsgi.py
  server/balances_history_cacher/manage.py
  server/balances_history_cacher/requirements.txt
Labels: enhancement

#280 Improved styling of source groups
  client/src/components/Other/AddNewSourceComponent.js
  client/src/components/Other/CountriesDropDownList.js
  client/src/styles/dashboard.scss
Labels: client

#283 Style the 'Expand modal'
  client/src/components/Other/AddNewSourceModal.js
  client/src/components/Other/AssetsDropDownList.js
  client/src/components/Other/ExpandButton.js
  client/src/components/Other/ExpandSourceModal.js
  client/src/components/Other/GroupsContainerComponent.js
  client/src/components/Pages/DashboardPage.js
  client/src/styles/dashboard.scss
  server/portfolio/portfolio/utils/custom_assets.py
Labels: enhancement, client

#288 Extend styling in Client
  client/src/components/Other/ChartComponent.js
  client/src/components/Other/HeaderComponent.js
  client/src/components/Other/RecentTransactionsContainerComponent.js
  client/src/components/Pages/CashflowPage.js
  client/src/components/Pages/DashboardPage.js
  client/src/styles/cashflow.scss
  client/src/styles/chart_component.scss
  client/src/styles/dashboard.scss
  client/src/styles/header.scss
Labels: enhancement, client

#289 Added functionality to disconnect account button
  client/src/components/Other/AddCryptoSource.js
  client/src/components/Other/ExpandButton.js
  client/src/components/Other/ExpandSourceModal.js
  client/src/components/Pages/DashboardPage.js
  client/src/styles/dashboard.scss
  client/src/utils/account.js
  client/src/utils/yodlee.js
  server/assets_v2/assets/utils/nordigen.py
  server/portfolio/portfolio/utils/format.py
Labels: client

#290 Balance caching microservice
  docker-compose.yml
  server/balances_history_cacher/balance_caching_app/migrations/0001_initial.py
  server/balances_history_cacher/balance_caching_app/mock_data_view.py
  server/balances_history_cacher/balance_caching_app/models.py
  server/balances_history_cacher/balance_caching_app/scheduler.py
  server/balances_history_cacher/balance_caching_app/serializers.py
  server/balances_history_cacher/balance_caching_app/serializers_validators.py
  server/balances_history_cacher/balance_caching_app/urls.py
  server/balances_history_cacher/balance_caching_app/utils.py
  server/balances_history_cacher/balance_caching_app/views.py
  server/balances_history_cacher/balances_history_cacher/settings.py
  server/balances_history_cacher/requirements.txt
  server/portfolio/portfolio/blueprints/api.py
  server/portfolio/portfolio/utils/cache_balance.py
  server/portfolio/portfolio/utils/format.py
  server/portfolio/portfolio/utils/reference.py
Labels: microservices

#294 Add value percentage change to each source group and add graph to Dashboard
  client/package.json
  client/src/components/Other/ChartComponent.js
  client/src/components/Other/GroupsContainerComponent.js
  client/src/components/Pages/CashflowPage.js
  client/src/components/Pages/DashboardPage.js
  client/src/recoil/balanceHistoryAtom.js
  client/src/recoil/index.js
  client/src/styles/chart_component.scss
  client/src/styles/dashboard.scss
  client/yarn.lock
  server/portfolio/portfolio/utils/account.py
  server/portfolio/portfolio/utils/cache_balance.py
  server/portfolio/portfolio/utils/format.py
Labels: enhancement, client

#299 Added loading when requesting to delete custom asset and fixed numbers format
  client/src/components/Other/ChartComponent.js
  client/src/components/Other/ExpandSourceModal.js
  client/src/components/Other/GroupComponent.js
  client/src/components/Other/GroupsContainerComponent.js
  client/src/components/Other/HoldingComponent.js
  client/src/components/Other/RecentTransactionsContainerComponent.js
  client/src/components/Pages/CashflowPage.js
Labels: client

#303 Filled missing days in historical balances response object
  client/src/components/Other/GroupsContainerComponent.js
  client/src/styles/dashboard.scss
  client/src/styles/main_content.scss
  server/balances_history_cacher/balance_caching_app/utils.py
  server/balances_history_cacher/balance_caching_app/views.py
Labels: enhancement

#304 Potfolio page skeleton
  client/src/components/Other/ChartComponent.js
  client/src/components/Other/NotificationComponent.js
  client/src/components/Pages/PortfolioPage.js
  client/src/recoil/BalancesAtom.js
  client/yarn.lock
  server/balances_history_cacher/balance_caching_app/mock_data_view.py
Labels: client

#306 Fixed bugs
  client/src/components/Other/ChartComponent.js
  client/src/components/Other/GroupsContainerComponent.js
  server/assets_v2/assets/blueprints/api.py
  server/assets_v2/assets/utils/nordigen.py
  server/assets_v2/assets/utils/yodlee_api.py
  server/portfolio/portfolio/utils/reference.py
Labels: bugfix

#307 Include and colorcode all graphs on portfolio page
  client/src/components/Other/ChartComponent.js
  client/src/components/Other/LoaderComponent.js
  client/src/components/Pages/DashboardPage.js
  client/src/components/Pages/PortfolioPage.js
  client/src/styles/loader.scss
  client/src/styles/portfolio-page.scss
  server/balances_history_cacher/balance_caching_app/mock_data_view.py
Labels: client

#309 Finishing portfolio logic
  client/src/components/Pages/PortfolioPage.js
  server/balances_history_cacher/balance_caching_app/utils.py
Labels: bug, client, microservices

#311 Fix to login required error
  client/src/components/Other/AddNewSourceMenu.js
  client/src/components/Other/ChartComponent.js
  client/src/components/Other/SubHeaderComponent.js
  client/src/components/Pages/CashflowPage.js
  client/src/components/Pages/DashboardPage.js
  client/src/components/Pages/PortfolioPage.js
  client/src/styles/chart_component.scss
  client/src/styles/main_content.scss
Labels: bug

#313 Fix Graph Gradient and fix reload errors
  client/src/components/Buttons/LogInButton.js
  client/src/components/Other/ChartComponent.js
  client/src/components/Pages/DashboardPage.js
  client/src/components/Pages/PortfolioPage.js
  client/src/utils/clearCacheOnLogin.js
Labels: client, bugfix

#315 Fixed bugs with balance_caching response
  server/balances_history_cacher/balance_caching_app/utils.py
  server/balances_history_cacher/balance_caching_app/views.py
Labels: bugfix

#317 Add custom 404 page
  client/src/App.js
  client/src/components/Pages/ErrorPage.js
  client/src/styles/error.scss
Labels: enhancement, client

#318 Add color routing to tabs and remove landing page
  client/src/App.js
  client/src/components/Other/HeaderComponent.js
  client/src/styles/header.scss
Labels: client

#320 Fix balance and transactions containers
  client/src/components/Other/GroupComponent.js
  client/src/components/Other/GroupsContainerComponent.js
  client/src/components/Other/HeaderComponent.js
  client/src/components/Other/HoldingComponent.js
  client/src/styles/dashboard.scss
  client/src/styles/header.scss
Labels: bug, client

#326 Small fixes to source data containers
  client/src/components/Other/GroupComponent.js
  client/src/styles/dashboard.scss
Labels: client, bugfix

#329 Graph show data only for current month and add page for unsupported resolutions
  client/src/App.js
  client/src/components/Other/ChartComponent.js
  client/src/components/Pages/DashboardPage.js
  client/src/components/Pages/PortfolioPage.js
  client/src/components/Pages/UnsupportedResolution.js
  client/src/images/its-so-small-i-cant-see-it.jpg
  client/src/styles/dashboard.scss
Labels: client, bugfix
